@model User
@{
    ViewData["Title"] = "EditUserInformation";
}

<h1>EditUserInformation</h1>
<form asp-action="EditUserInformationResponse" method="post">
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Email-Adresse</th>
                <th>Telefonnummer</th>
                <th>Administratorrechte</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.UserId</td>
                <td><input asp-for="FirstName" value="@Model.FirstName" /></td>
                <td><input asp-for="LastName" value="@Model.LastName" /></td>
                <td><input asp-for="Email" value="@Model.Email" /></td>
                <td><input asp-for="PhoneNumber" value="@Model.PhoneNumber" /></td>
                <td>
                    @if (Model.IsAdmin)
                    {
                        <input name="IsAdmin" type="checkbox" checked="checked" />
                    }
                    else
                    {
                        <input name="IsAdmin" type="checkbox" />
                    }
                </td>
                <td><input class="invisible" asp-for="UserId" value="@Model.UserId" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Benutzerdaten ändern" /></td>
            </tr>
        </tbody>
    </table>
</form>